
footer.footer{
    background: #434343;
    color: #fff;
}
footer.footer .content{
    padding: 1.5rem 0;
}


.short-popup-msg{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 30vh;
    height: 100vh;
}
.popup-box{
    position: relative;
    overflow: hidden;
    width: 280px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 1px #add8e6;
    color: #000;
}
.popup-msg-progressbar{
    width: 0%;
    background-color: #009100;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}




/* .filter-form{
    background-color: #dee2e6;
    padding: 15px 10px;
    border-radius: 4px;
}
.filter-form label{
    font-weight: 500;
} */

.filter-form .search-list{
    position: absolute;
    background: #fff;
    padding: 5px;
    box-shadow: 0px 4px 5px 0px;
    border-radius: 4px;
    display: none;
}
.filter-form .search-list .search-ul-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.filter-form .search-list .search-ul-list li{
    margin: 4px 0;
    padding: 0 10px;
    cursor: pointer;
}
.filter-form .search-list .search-ul-list li:hover{
    margin: 4px 0;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #dfdfdf;
}
.filter-form .search-list .search-ul-list li.ss-list span{
    font-size: 0.8rem;
    margin-left: 5px;
}
.filter-form .search-list .search-ul-list li.ss-list span.user_name{
    font-size: 1rem;
}

.blue-color{
    color: blue;
}
.red-color{
    color: red;
}
.green-color{
    color: green;
}
.row-inactive{
    background-color: #f9b6b6 !important;
}
.background-ddd{
    background-color: #ddd;
}

